@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #e7e8e8;
  background: #070707;
}

a {
  color: #84309C;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.connectWalletBtn {
  background: #734 !important;
  border-radius: 10px !important;
  padding: 0.5em !important;
  font-size: 1.5em !important;
  transition: all 0.2s ease-in-out !important;
}

.connectWalletBtn:hover {
  background: black !important;
  color: white !important;
}


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
  border: 5px solid white;
  position: fixed;
  top: 50%; /* Added */
  left: 50%; /* Added */
  transform: translate(-50%, -50%);
  border-radius: 56x;

}

