@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #e7e8e8;
  background: #070707;
}

a {
  color: #84309C;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.connectWalletBtn {
  background: #734 !important;
  border-radius: 10px !important;
  padding: 0.5em !important;
  font-size: 1.5em !important;
  transition: all 0.2s ease-in-out !important;
}

.connectWalletBtn:hover {
  background: black !important;
  color: white !important;
}


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
  border: none;
  position: fixed;
  top: 50%; /* Added */
  left: 50%; /* Added */
  transform: translate(-50%, -50%);
  border-radius: 56x;
  background-color: rgba(19, 19, 19, 0.5);
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.modal-text {
  padding: 1rem;
}

.modal img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
  margin-bottom: 12px;
  border: none;
}

.modal:hover,
.modal:focus,
.modal:active {
  background-color: rgba(39, 44, 52, 0.3);
  opacity: 80%;
}

.modal h2 {
  margin: 0 0 0.75rem 0;
}

.modal p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.75;
}

@media (max-width: 766px) {
  .modal {
    height: 50%;
  }
}

.navbutton:hover {
  background-color: rgba(39, 44, 52, 0.2);
  background-radius: 50%;
  opacity: 80%;
}
