@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  height: auto;
  overflow-y: visible;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #e7e8e8;
  background: #070707;
}

a {
  color: #84309C;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.connectWalletBtn {
  background: #734 !important;
  border-radius: 10px !important;
  padding: 0.5em !important;
  font-size: 1.5em !important;
  transition: all 0.2s ease-in-out !important;
}

.connectWalletBtn:hover {
  background: black !important;
  color: white !important;
}


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
  border: none;
  position: fixed;
  top: 50%; /* Added */
  left: 50%; /* Added */
  transform: translate(-50%, -50%);
  border-radius: 56x;
  background-color: rgba(19, 19, 19, 0.5);
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.modal-text {
  padding: 1rem;
}

.modal img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
  margin-bottom: 12px;
  border: none;
}

.modal:hover,
.modal:focus,
.modal:active {
  background-color: rgba(39, 44, 52, 0.3);
  opacity: 80%;
}

.modal h2 {
  margin: 0 0 0.75rem 0;
}

.modal p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.75;
}

@media (max-width: 766px) {
  .modal {
    height: 50%;
  }
}

.navbutton:hover {
  background-color: rgba(39, 44, 52, 0.2);
  background-radius: 50%;
  opacity: 80%;
}

.homePage {
  top: 40%;
  right: 60%;
  /* transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.homeSwipeImg img {
  width: 20%;
  height: 20%;
}

.homeSwipeImg {
  width: 30%;
  padding-top: 12%;
  left: 60%;
  position: relative;
}
.campaignBtn {
  /* background: #734 !important; */
  border-radius: 10px !important;
  padding: 0.5em !important;
  font-size: 1.2em !important;
  transition: all 0.2s ease-in-out !important;
}

.campaignBtn:hover {
  background: green !important;
  color: white !important;
  transition: all .2s ease-in-out !important;

}

.CampaignModal {
  display: flex;
  width: 70%;
  height: 50%;
  border: none;
  position: fixed;
  top: 60%; /* Added */
  left: 50%; /* Added */
  transform: translate(-50%, -50%);
  border-radius: 56x;
  background-color: rgba(19, 19, 19, 0.5);
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.CampaignModal-text {
  padding: 1rem;
}

.CampaignModal img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
  margin-bottom: 12px;
  border: none;
}

.CampaignModal:hover,
.CampaignModal:focus,
.CampaignModal:active {
  background-color: rgba(39, 44, 52, 0.3);
  opacity: 80%;
}

.CampaignModal h2 {
  margin: 0 0 0.75rem 0;
}

.CampaignModal p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.75;
}

.CreateCampaignModal {
  display: flex;
  border: none;
  /* width: 50vw; */
  justify-content: center;
  align-items: center;
  border-radius: 56x;
  /* background-color: rgba(19, 19, 19, 0.5); */
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.profileModal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 50%;
  border: none;
  position: fixed;
  top: 50%; /* Added */
  left: 50%; /* Added */
  transform: translate(-50%, -50%);
  border-radius: 56x;
  background-color: rgba(19, 19, 19, 0.5);
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.profileModal-text {
  padding: 1rem;
}

.profileModal img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
  margin-bottom: 12px;
  border: none;
}

.profileModal:hover,
.profileModal:focus,
.profileModal:active {
  background-color: rgba(39, 44, 52, 0.3);
  opacity: 80%;
}

.profileModal h2 {
  margin: 0 0 0.75rem 0;
}

.profileModal p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.75;
}

@media (max-width: 766px) {
  .profileModal {
    height: 50%;
  }
}
